<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875937724172-agq759ir3lt7ks3l9f8joiv289goqa8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875937724172-agq759ir3lt7ks3l9f8joiv289goqa8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDOP0ukkJ--GAXL7y2K-Ny12WwBNAflK58</string>
	<key>GCM_SENDER_ID</key>
	<string>875937724172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DV.VKClient</string>
	<key>PROJECT_ID</key>
	<string>vk-client-312fc</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-client-312fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875937724172:ios:a4fcd358da2bd39f723b29</string>
</dict>
</plist>